$sans-serif: 'inter', helvetica, arial, sans-serif;

$color-white: rgb(250, 250, 250);
$color-black: rgb(14, 14, 14);
$color-main: rgb(12, 12, 60);

$color-background: $color-white;
$color-text: $color-main;

$width-xs: 21rem;
$width-s: 30rem;
$width-m: 42rem;
$width-l: 56rem;

$media-s: 700px;
$media-m: 1200px;
$media-l: 1600px;
$media-xl: 1900px;